
 /*
    Document   : css/menu．css
    Created on : 2014-09-28 11:47 PM
    Author     : dwells89
    Description:
    Purpose of the stylesheet follows. 
    To change this template use Tools | Templates.
*/

root {
   display: block;
 }
html,body {
  margin: 0;
  border: 0px;
  margin: 0px;
}
body {
  min-height: 100vh;
  font-size: 62.5%;
  font-size: 52.5%;
  letter-spacing: .1113ch;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  background-color: rgb(80,80,90);
 }

* {
  box-sizing: border-box;
}

div[id="responsive_menu"] ul,
div[id="responsive_menu"] li {
  overflow: hidden;
}

 /*************************************
                Font Size
*************************************/
input[type="checkbox"][class*="def"][class*="sec"] + label {
  height: 2em;
}
input[type="checkbox"][class*="def"][class*="sec"] + label > span {
  font-size: .95em;
  padding: .5em 0 .5em 0;
  font-family: 'OpenSans_Semibold', sans-serif;
  font-variant: small-caps;
  text-transform: uppercase;
}
input[type="checkbox"][class*="def"][class*="sec"] + label > span::first-letter {
 
  
}
input[type="checkbox"][class*="def"][class*="sub"]  + label > span {
  font-size: .95em;
  line-height: 0;
  margin-bottom: .2em; 
  font-family: 'OpenSans_Semibold', sans-serif;
}
input[type="checkbox"][class*="def"][class*="link"]  + label > span {
  font-size: .5em;
  line-height: 0;
  vertical-align: bottom;
  padding-bottom: 1.25em;
  font-family: 'OpenSans_Light', sans-serif;
}
input[type="checkbox"][class*="def"][class*="sub"] ~ 
div[class="viewport"] > ul > li > a > span {
  font-family: 'OpenSans_Light', sans-serif;
  font-size: .95em;
}
 /*************************************
                Default
*************************************/
 input[type="checkbox"][class*="def"] {
   display: none;
 }
 input[type="checkbox"][class*="def"] + label {
   display: inline-block;
   box-sizing: border-box;
   width: 100%;
   text-align: center;
 }
 input[type="checkbox"][class*="def"] + label > span {
   display: inline-block;
   -webkit-user-select: none;
   padding: 1em 0;
   font-size: 1em;
   letter-spacing: .1895ch;
 }
 /************************************
                Section
*************************************/
 input[type="checkbox"][class*="def"][class*="sec"] + label {
   text-align: left;
   padding-left: 7.5%;
   background-color: rgb(23,24,26);
 }
 input[type="checkbox"][class*="def"][class*="sec"] + label > span {
   font-weight: 500;
 }
/************************************/
/************************************/
/************************************/
/************************************
                Viewport
*************************************/
input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] {
   overflow: hidden;
   max-height: 0;
/*    transition: max-height .35s ease-in;
   transition-delay: .15s; */
 }
/* 
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] {
   max-height: 10em;
   transition: max-height .5s ease-out;
   transition-delay: .15s;
 }
 */
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] {
/*    transition: max-height .5s ease-out;
   transition-delay: .15s; */
 } 
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul > li > div[class*="viewport"] {
   overflow: hidden;
   max-height: 0;
/*    height: 6.25em; */
/*    transition: max-height .25s ease-in; */
 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul,
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul > 
li > div[class*="viewport"] > ul {
   list-style: none;
   padding: 0;
   margin: 0;
  line-height: 0;
 }

/************************************/
/************************************/
/************************************/
/************************************/
/************************************/
/************************************/

 /************************************
                Section Style
*************************************/
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] + span {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-user-select: none;
   background-color: rgba(58, 55, 70, 1);
   height: 2em;
/*    box-shadow: inset 0 .5em 0 0em rgba(20, 0, 10, .15); */
   max-height: 0;
/*    border-top: 0 solid rgba(245, 235, 235, 1); */
   -webkit-transition: max-height .35s ease-in, border-top .65s ease-in;
           transition: max-height .35s ease-in, border-top .65s ease-in;
   -webkit-transition-delay: .1s;
           transition-delay: .1s;
 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked + label {
 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked + label > span {
   color: rgb(200, 200, 200);
/*    font-size: 1.017859em; */
   -webkit-transition: color .35s ease-out;
           transition: color .35s ease-out;
 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] + span {
   max-height: 2em;
/*    border-top: .1em solid rgba(245, 235, 235, 1); */
   box-shadow: inset 0 .25em 0 0em rgba(20, 0, 10, .15);
   -webkit-transition: max-height .35s ease-out, border-top .65s ease-out;
           transition: max-height .35s ease-out, border-top .65s ease-out;
   -webkit-transition-delay: .05s;
           transition-delay: .05s;
 }
 input[type="checkbox"][id="products_main"] + label {
 }
 /************************************
                Subsection
*************************************/
 input[type="checkbox"][class*="def"][class*="sub"] {
 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] input[type="checkbox"][class*="def"][class*="sub"] + label {
   display: inline-block;
   height: 2em;
   
   text-align: left;
   line-height: 0;
   padding-left: 7.5%;
   box-sizing: border-box;
   background-color: rgb(200, 200, 200);

 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] input[type="checkbox"][class*="def"][class*="sub"] + label {

 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] input[type="checkbox"][class*="def"][class*="sub"] + label:hover {

 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] input[type="checkbox"][class*="def"][class*="sub"] + label:active {
   background-color: rgb(125, 125, 130);

 }
 /* input[type="checkbox"][class*="def"][class*="sub"] + label {
  background-color: rgba(131, 232, 129,1);
  box-shadow: inset 0 -.15em 0 0 rgba(203, 33, 90, .75);
  border-bottom: .15em solid rgba(153, 33, 90, .25);
  border-top: .5em solid rgba(153, 33, 90, .15);

} */
 /* ^^^ */
 input[type="checkbox"][class*="def"][class*="sub"] + label > span {
/*    padding: .378375em 0; */
   color: rgba(245, 235, 235, 1);
 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] input[type="checkbox"][class*="def"][class*="sub"] + label:hover > span {
 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] input[type="checkbox"][class*="def"][class*="sub"] + label:active > span {
 }
 input[type="checkbox"][class*="def"][class*="sub"]:checked + label {
 }
 input[type="checkbox"][class*="def"][class*="sub"]:checked + label > span {
 }
 /*
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul {
   background-color: rgb(200, 200, 200);
   transition: background-color 1s ease;
 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] > ul {
   background-color: rgb(72, 72, 72);
   transition: background-color 1s ease;
   transition-delay: .5s;
 }
*/
 /* input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul > li {
  
  transform-origin: top;
  transform: rotateX(-90deg) translateY(-1em);
  transition: transform 1.15s ease;
} */
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul > li:nth-child(1) {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: rotateX(-90deg) translateY(-1em);
           transform: rotateX(-90deg) translateY(-1em);
   -webkit-transition: -webkit-transform .75s ease;
           transition: transform .75s ease;
   -webkit-transition-delay: .15s;
           transition-delay: .15s;
 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul > li:nth-child(2) {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: rotateX(-90deg) translateY(-4em);
           transform: rotateX(-90deg) translateY(-4em);
   -webkit-transition: -webkit-transform .75s ease;
           transition: transform .75s ease;
   -webkit-transition-delay: .15s;
           transition-delay: .15s;
 }
 input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul > li:nth-child(3) {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: rotateX(-90deg) translateY(-6em);
           transform: rotateX(-90deg) translateY(-6em);
   -webkit-transition: -webkit-transform .75s ease;
           transition: transform .75s ease;
   -webkit-transition-delay: .15s;
           transition-delay: .15s;
 }
input[type="checkbox"][class*="def"][class*="sec"] ~ div[class*="viewport"] > ul > li:nth-child(4) {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg) translateY(-8em);
          transform: rotateX(-90deg) translateY(-8em);
  -webkit-transition: -webkit-transform .75s ease;
          transition: transform .75s ease;
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}
 /* 
input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] > ul li {
  transform-origin: top;
  transform: rotateX(0deg) translateY(0em);
  transition: transform .85s ease;
}
 */
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] > ul li:nth-child(1) {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: rotateX(0deg) translateY(0em);
           transform: rotateX(0deg) translateY(0em);
   -webkit-transition: -webkit-transform .5s ease;
           transition: transform .5s ease;
   -webkit-transition-delay: .05s;
           transition-delay: .05s;
 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] > ul li:nth-child(2) {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: rotateX(0deg) translateY(0em);
           transform: rotateX(0deg) translateY(0em);
   -webkit-transition: -webkit-transform .5s ease;
           transition: transform .5s ease;
   -webkit-transition-delay: .1s;
           transition-delay: .1s;
 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] > ul > li:nth-child(3) {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: rotateX(0deg) translateY(0em);
           transform: rotateX(0deg) translateY(0em);
   -webkit-transition: -webkit-transform .5s ease;
           transition: transform .5s ease;
   -webkit-transition-delay: .15s;
           transition-delay: .15s;
 }
 input[type="checkbox"][class*="def"][class*="sec"]:checked ~ div[class*="viewport"] > ul > li:nth-child(4) {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: rotateX(0deg) translateY(0em);
           transform: rotateX(0deg) translateY(0em);
   -webkit-transition: -webkit-transform .5s ease;
           transition: transform .5s ease;
   -webkit-transition-delay: .2s;
           transition-delay: .2s;
 }


 /************************************
                Links
*************************************/
/* 
input[type="checkbox"][class*="def"][class*="sub"] ~ div[class*="viewport"] > ul > li >
input[type="checkbox"][class*="def"][class*="link"] + label {
  text-align: left;
  padding-left: 14%;
  background-color: rgb(233,32,89); 
  vertical-align: top;
  border-right: 0.1em solid rgba(0,0,0,0.4);
  border-bottom: 0.1em solid rgba(0,0,0,0.4);
  border-top: .1em solid rgba(0,0,0,0.3);

  box-shadow: inset 0  -0.25em 0 .05em rgba(125,15,48,.6);
} 
 */
input[type="checkbox"][class*="def"][class*="sub"] ~ div[class*="viewport"] > ul > li:nth-child(odd) >
input[type="checkbox"][class*="def"][class*="link"] + label {
/*   border-left: 0.075em solid rgba(245, 235, 235, 1); */
}
 input[type="checkbox"][class*="def"][class*="sub"] ~ div[class*="viewport"] > ul > li:nth-child(even) >
input[type="checkbox"][class*="def"][class*="link"] + label {
  border-right: none;
} 
input[type="checkbox"][class*="def"][class*="link"] + label > span {
  letter-spacing: 0.4495ch;
  color: rgba(245, 235, 235, 1); /* menu_colors.css */
  white-space: nowrap;
  
  -webkit-transition: .25s letter-spacing ease-in-out;
  
          transition: .25s letter-spacing ease-in-out;
}
input[type="checkbox"][class*="def"][class*="link"] + label:hover  > span{
  letter-spacing: 0.6495ch;
}
input[type="checkbox"][class*="def"][class*="link"] + label:active  > span{
  letter-spacing: 0.4495ch;
}
/************************************
            UL/LI for Links
*************************************/

input[type="checkbox"][class*="def"][class*="sub"] ~ div[class*="viewport"] > ul {
  padding-bottom: .075em;
  margin-left: .15%;
  
}
input[type="checkbox"][class*="def"][class*="sub"] ~ div[class*="viewport"] > ul > li {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  vertical-align: top;
  margin-left: 1%;
  clear: both;
  float: left;
}


input[type="checkbox"][class*="def"][class*="sub"] ~ div[class*="viewport"] > ul > li {
/*   box-shadow: inset 0.2em  -0.3em 0 .05em rgba(125,15,48,.75); */
  border-right: none;
/*   border-left: 0.075em solid rgba(245, 235, 235, 1); */
  margin-left: 0;
  float: left;
  clear: none;
} 


div[id="responsive_menu"] {
  min-height: 100vh; 
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2b2e30;
}
 div[id="responsive_menu"] > ul:not(#bot_icons) {
   font-size: 80%;
   list-style: none;
   margin: 0; padding: 0;
   display: block;
   box-sizing: border-box;
 }
div[id="responsive_menu"] > ul[id="mimeoAccordion"] > li > input[class*="def"][class*="sec"] + label {
  
}


div[id="responsive_menu"] > ul:not(.account_links) > li {
/*   border-top: solid .0375em rgb(56, 56, 56); */
/*   border-bottom: solid .0375em   */
  box-shadow: inset 0 0 0 .0375em rgb(56, 56, 56);
}
/* div[id="responsive_menu"] > ul:not(.account_links) > li:first-child {
   border-top: solid 0em  rgb(56, 56, 56);
   border-bottom: solid .0375em  rgb(56, 56, 56);
 }
div[id="responsive_menu"] > ul:not(.account_links) > li:last-child {
  border-top: solid .0375em rgb(56, 56, 56);
  border-bottom: solid 0em rgb(56, 56, 56);
} */

div[id="responsive_menu"] > ul[class*="account_links"],
div[id="responsive_menu"] > ul[class*="account_links"] > li {
  height: 2em;
}
div[id="responsive_menu"] > ul[class*="account_links"] {
  list-style: none; 
  margin: 0; padding: 0;
  display: block;
  width: 100%;
 }
div[id="responsive_menu"] > ul[class*="account_links"] > li {
  font-variant: small-caps;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  float: left;
  clear: none;
  text-align: center;
  /*padding: .1em 0;*/
}
ul[class="account_links"] > li:first-child {
  background-color: rgba(1, 202, 99, 1);
}
ul[class="account_links"] > li:last-child {
  background-color: rgba(0, 188, 240, 1);
  border-left: .05em solid rgba(28, 29, 31, 1);
}
ul[class="account_links"] > li > span {
  font-family: 'OpenSans_Semibold';
  font-size: .95em;
  letter-spacing: 0.1895ch;
  color: rgba(245, 245, 250, 1);
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-top: .25em;
}
ul[id="bot_icons"],
ul[id="bot_icons"] > li {
  height: 2em;
}
ul[id="bot_icons"] {
  border-top: .1em solid rgb(40,40,40);
  width: 100%;
  list-style: none;
  margin: 0; padding: 0;
  position: fixed;
  width: 100%;
  display: block;
  bottom: 0;
  z-index: 999;
}
ul[id="bot_icons"] > li {
  width: 50%;
  display: inline-block;
  float: left; clear: none;
  text-align: center;
  background-color: #2b2e30;
  color: rgba(245, 235, 235, 1);
  box-sizing: border-box;
}
.fa-question-circle:before,
.fa-search:before {
  padding-top: .35em;
  vertical-align: middle;
}
ul[id="bot_icons"] > li:nth-child(2) {
  border-left: .075em solid rgb(56, 56, 56);
  border-right: .075em solid rgb(56, 56, 56);
} 


input[class="respon_menu_search"] {
  border-radius: .1em;
  width: 90%;
  margin-left: 5%;
  margin-top: .5em;
  margin-bottom: .65em;
  padding: .35em 0;
  
  border: none;
  background-image:url('img/search.png');
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-color: rgb(51, 51, 51);
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
  background-position: 2.5% 50%;
}




ul[class="sections"] {
  display: inline-block;
  list-style: none;
  margin: 0; padding: 0;
}
ul[class="sections"] > li {
  box-sizing: border-box;
  border-bottom: .1em solid rgb(40,40,40);
}




li.iconli {
  
}


/*//////////////////////*/
/************************/
/*********  UL  *********/
input[type="checkbox"] ~ 
div[class*="viewport"] > ul > li > 
input[type="checkbox"][class*="def"][class*="sub"] ~ 
div[class*="viewport"] > ul {
/*   max-height: 6.25em; */
  width: 100%;
/*   height: 100%; */
  margin: 0; padding: 0;
  display: block;
  background-color: rgb(0, 150, 73);

  box-sizing: border-box;
}

/************************/
/********* /UL  *********/
/*//////////////////////*/
/************************/
/*********  LI  *********/
input[type="checkbox"][class*="def"][class*="sub"] ~ 
div[class="viewport"] > ul > li {
  margin: 0; padding: 0;
  width: 100%;
/*   float: left;  */
/*   clear: none; */
  clear: both;
  height: 2em;
  padding-top: .25em;
/*   padding-top: .45em; */
  box-sizing: border-box;
  display: inline-block;
}
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li {
  padding-left: .15em;
/*   box-shadow: inset 0em -.08em 0em 0.1em rgb(0, 150, 73);
  border-top: 0.075em solid rgb(1, 202, 99); */
  clear: both;
/*   width: 50%; */
  position: relative;
  z-index: 2;
}
/* input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(5), 
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:last-child {
  box-shadow: none;
  border-bottom: none;
}  */
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(n+6) {
  float: none;
}
/* input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(1) > a { margin-top: -0.51em; } */

/* 
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(6) { margin-top: -6em; }
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(7) { margin-top: -4.5em; }
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(8) { margin-top: -3em; }
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(9) { margin-top: -1.5em; }
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:nth-child(10) {  }
 */


/************************/
/********* /LI  *********/
/*//////////////////////*/
/************************/
/*********  A  **********/
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li > a {
  text-decoration: none;
/*   border-left: 1em solid rgb(1, 202, 99); */
  box-sizing: border-box;
  /*float: left;*/
  height: 100%;
  width: 100%;
  display: inline-block;
/*   margin-top: -0.5em; */
  margin-left: -.15em;
/*   box-shadow: inset 0em -.08em 0em 0em rgb(0, 150, 73); */
}
/************************/
/*********  /A  *********/
/*//////////////////////*/
/************************/
/********* SPAN *********/
input[type="checkbox"][class*="def"][class*="sub"] ~ 
div[class="viewport"] > ul > li > a > span {
  box-sizing: border-box;
  color: #f5f5fa;
/*   display: inline-block; */
  line-height: 1.5;
  letter-spacing: .1895ch;

  margin-left: calc(7% + .15em);
  height: 1.5em;
  display: inline-block;
  -webkit-transition: background-color 0.25s ease-in-out, 
    box-shadow 0.25s ease-in-out, 
    letter-spacing .25s ease-in-out;
  
          transition: background-color 0.25s ease-in-out, 
    box-shadow 0.25s ease-in-out, 
    letter-spacing .25s ease-in-out;
}
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:hover > a > span {
  letter-spacing: .2795ch;
}
input[type="checkbox"][class*="def"][class*="sub"] ~
div[class="viewport"] > ul > li:active > a > span {
  letter-spacing: .1895ch;
}
/************************/
/********* /SPAN ********/
/*//////////////////////*/
/*//////////////////////*/
/*//////////////////////*/
/*//////////////////////*/
/*//////////////////////*/
/*//////////////////////*/
/************************/
/******* INPUT > ********/
input[name="subsection"] ~ div[class="viewport"] >
[name="next_five"] {
  display: none;
}

input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"] + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"] + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"] + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"] + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"] + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"] + label {
  position: absolute;
  display: block;
  box-sizing: border-box;
  right: 0;
  height: calc(100% - 1.125em);
  box-shadow: 0 -0.1em 0 0.1em #383838 inset;
  border: solid 0em rgba(21, 21, 21, 0.85);
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  z-index: 999;
  width: 2.5em;
  max-height: 0;

  transition: max-height .35s ease-in-out .35s, 
    margin-right .35s ease-in-out .15s, 
    background-color .35s ease-in-out .1s,
    right .35s ease-in-out 0s,
    border .1s ease-in-out .5s;
}


input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"] + label:hover,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"] + label:hover
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"] + label:hover,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"] + label:hover,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"] + label:hover,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"] + label:hover {
  background-color: rgb(61,61,61);
}

input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"] + label:active,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"] + label:active
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"] + label:active,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"] + label:active,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"] + label:active,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"] + label:active {
  background-color: rgb(41,41,41);
}

input[name="subsection"]:checked ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"] + label,
input[name="subsection"]:checked ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"] + label,
input[name="subsection"]:checked ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"] + label,
input[name="subsection"]:checked ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"] + label,
input[name="subsection"]:checked ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"] + label,
input[name="subsection"]:checked ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"] + label{
  max-height: 6.25em; 
/*   border: solid .075em rgba(21, 21, 21, 0.85); */
   transition: max-height .35s ease-in-out -.35s, 
    margin-right .35s ease-in-out .15s, 
    background-color .35s ease-in-out .1s,
    right .35s ease-in-out 0s,
    border .1s ease-in-out 0s; 
}

input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"]:checked + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"]:checked + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"]:checked + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"]:checked + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"]:checked + label,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"]:checked + label { 
  right: calc(100% - 2.5em);
}

input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"] + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"] + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"] + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"] + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"] + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"] + label > span {
  display: inline-block;
  top: 50%;
  position: absolute;
  font-size: 2em;
  line-height: 0;
  width: 100%;
  text-align: center;
  color: rgb(245, 245, 250);
  -webkit-user-select: none;
  font-weight: 100;

  transform-style: preserve-3d;
  transform-origin: center;
  transition-delay: .1s;
  transform: rotateY(0deg);
  transition: transform .75s ease-in-out, margin .35s ease-in-out;
}

input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"]:checked + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"]:checked + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"]:checked + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"]:checked + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"]:checked + label > span,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"]:checked + label > span {
   transform: rotateY(180deg);
} 

input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"] ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"] ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"] ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"] ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"] ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"] ~ ul {
  margin-left: 0;
  transition: margin-left .35s ease-in-out;
}

input[name="subsection"] ~ div[class="viewport"] >
input[id="prod_5"][name="next_five"]:checked ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="bind_5"][name="next_five"]:checked ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="busi_5"][name="next_five"]:checked ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="indu_5"][name="next_five"]:checked ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="reso_5"][name="next_five"]:checked ~ ul,
input[name="subsection"] ~ div[class="viewport"] >
input[id="capa_5"][name="next_five"]:checked ~ ul {
  margin-left: calc(-100% + 2.5em) !important;
}

